.wp-block-site-details-summary > summary.has-background {
    padding: .5em;
}

.wp-block-site-details-summary > summary div {
    display: inline;
}

// Icon style
.wp-block-site-details-summary.is-style-icon > summary {
    list-style: none;
}

.wp-block-site-details-summary.is-style-icon > summary div {
    display: flex;
    justify-content: space-between;
}

.wp-block-site-details-summary.is-style-icon > summary:not(.has-background) div {
    padding-block: .5em;
    border-block: 1px solid #ccc;
}

.wp-block-site-details-summary.is-style-icon[open] > summary .icon {
    transform: rotate(90deg);
}

.wp-block-site-details-summary.is-style-icon:has(> summary:not(.has-background)) + .wp-block-site-details-summary.is-style-icon:has(> summary:not(.has-background)) {
    margin-block-start: -1px;
}
