@import "@/resources/styles/mixins/*";
@import "@/resources/styles/variables";

$wp-block-site-details-summary-separator-color = lighten($colors.default, 75%);

.wp-block-site-details-summary + .wp-block-site-details-summary {
    // Reduce spacing between consecutive detail blocks
    margin-block-start: $spacing["30"];
}

.wp-block-site-details-summary > summary {
    cursor: default;
}

.wp-block-site-details-summary > summary.has-background:not(:focus-visible) {
    // No offset if clicked
    --outline-offset: 0;
}

.wp-block-site-details-summary > summary:not(.has-background):hover {
    // Underline when hovered if no background color
    text-decoration: underline;
}

.wp-block-site-details-summary > summary.has-background {
    // Default padding if background color
    padding: $spacing["30"];
}

.wp-block-site-details-summary > summary + * {
    // Reduce default spacing between summary and content
    margin-block-start: $spacing["30"];
}

// Icon style
.wp-block-site-details-summary.is-style-icon[open]:has(> summary:not(.has-background)) {
    // Add bottom padding and border if no background color
    padding-block-end: $spacing["30"];
    border-block-end: 1px solid $wp-block-site-details-summary-separator-color;
}

.wp-block-site-details-summary.is-style-icon:has(> summary:not(.has-background)) + .wp-block-site-details-summary.is-style-icon:has(> summary:not(.has-background)) {
    // Share borders if consecutive detail blocks with no background color are used
    margin-block-start: -1px;
}

.wp-block-site-details-summary.is-style-icon > summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5em;
    list-style: none;
}

.wp-block-site-details-summary.is-style-icon > summary:not(.has-background) {
    padding-block: $spacing["30"];
    border-block-start: 1px solid $wp-block-site-details-summary-separator-color;
}

.wp-block-site-details-summary.is-style-icon > summary:not(.has-background):not(:focus-visible) {
    // No outline if clicked
    --outline-color: transparent;
}

.wp-block-site-details-summary.is-style-icon:not([open]) > summary:not(.has-background) {
    border-block-end: 1px solid $wp-block-site-details-summary-separator-color;
}

.wp-block-site-details-summary.is-style-icon > summary::-webkit-details-marker {
    // `list-style: none` does not hide the `::marker` in Webkit
    display: none;
}

.wp-block-site-details-summary.is-style-icon > summary .icon {
    flex-shrink: 0;
    transition: transform .25s;
}

.wp-block-site-details-summary.is-style-icon[open] > summary .icon {
    transform: rotate(90deg);
}

.wp-block-site-details-summary.is-style-icon > summary:not(.has-background) + * {
    // Reduce default spacing between summary and content if no background color
    margin-block-start: 0;
}
