/* Menu */
#adminmenu .wp-menu-image img {
    max-width: 20px;
    max-height: 20px;
    object-fit: contain;
}

/* Postbox */
.postbox {
    border-radius: .5em;
    overflow: hidden;
}

.empty-container {
    border-radius: .75em;
}

/* Media */
.wp-filter {
    border-radius: .5em;
}

/* Card */
.card {
    border-radius: .5em;
}

/* Posts list table */
.subsubsub {
    margin: .5em 0 1em;
}

.subsubsub li {
    color: transparent;
}

.subsubsub a.current {
    padding: .5em 1em;
    border-radius: .5em;
    background-color: #fff;
}

/* Yoast has the count outside the link, unlike WP, so just let it be hidden. */
/* .subsubsub .yoast_cornerstone {
    color: inherit;
} */

.tablenav {
    height: auto;
    margin: 1em 0 0;
    padding: 11px;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    background-color: #f8f8f8;
}

.tablenav.bottom {
    margin-top: 0;
    border-radius: 0 0 .5em .5em;
}

.tablenav .tablenav-pages {
    margin-bottom: 0;
}

table.widefat {
    border: 0;
    box-shadow: 0;
}

.widefat :is(thead, tfoot) :is(th, td) {
    font-size: 12px;
    line-height: 1.5;
}

.widefat thead :is(th, td) {
    border-bottom: 2px solid #f0f0f1;
}

.widefat tfoot :is(th, td) {
    border-top: 2px solid #f0f0f1;
}

.widefat :is(thead, tfoot) th {
    font-weight: bold;
}

.widefat tbody :is(th, td) {
    padding-top: 15px;
    padding-bottom: 15px;
}

.widefat tbody th.check-column,
.widefat tfoot td.check-column,
.widefat thead td.check-column {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 8px;
}

.striped > tbody > :nth-child(2n+1) {
    background-color: transparent;
}

.striped > tbody > :not(.inline-edit-row):hover {
    background-color: #f0f6fc;
}

th.sortable a,
th.sorted a {
    padding: 10px;
}

.row-actions {
    color: transparent;
    font-size: 12px;
}

.inline-edit-wrapper {
    border-color: #2271b1;
    box-shadow: 0 0 0 1px #2271b1;
    outline: 2px solid transparent;
}

/* Yoast SEO */
.fixed th.column-wpseo-score-readability.sortable,
.fixed th.column-wpseo-score-readability.sorted,
.fixed th.column-wpseo-score.sortable,
.fixed th.column-wpseo-score.sorted {
    width: 4em;
}

.fixed th.column-wpseo-linked,
.fixed th.column-wpseo-links,
.fixed th.column-wpseo-score,
.fixed th.column-wpseo-score-readability {
    width: 3.5em;
}

/* WPCode */
.wpcode-admin-page.wpcode .tablenav.top {
    margin-bottom: 0;
}

.wpcode-admin-page.wpcode .tablenav.bottom {
    margin-top: 0;
}

/* Plugins list table */
.plugins .active td,
.plugins .active th,
.plugins .inactive td,
.plugins .inactive th {
    padding-top: 16px;
    padding-bottom: 16px;
}

.plugin-install #the-list td,
.plugins .active td,
.plugins .active th,
.plugins .inactive td,
.plugins .inactive th,
.upgrade .plugins td,
.upgrade .plugins th {
    box-shadow: none;
}

.plugins tr.active + tr.inactive td,
.plugins tr.active + tr.inactive th,
.plugins tr.active.plugin-update-tr + tr.inactive td,
.plugins tr.active.plugin-update-tr + tr.inactive th {
    border-top: 0;
    box-shadow: none;
}

/* Advanced Custom Fields */
.acf-image-uploader .image-wrap img {
    max-width: 300px !important;
    max-height: 300px !important;
    object-fit: contain;
}

.acf-image-uploader[data-preview_size="thumbnail"] .image-wrap img {
    max-width: 100px !important;
    max-height: 100px !important;
}

.acf-field input[type="text"],
.acf-field input[type="password"],
.acf-field input[type="date"],
.acf-field input[type="datetime"],
.acf-field input[type="datetime-local"],
.acf-field input[type="email"],
.acf-field input[type="month"],
.acf-field input[type="number"],
.acf-field input[type="search"],
.acf-field input[type="tel"],
.acf-field input[type="time"],
.acf-field input[type="url"],
.acf-field input[type="week"],
.acf-field textarea,
.acf-field select,
.select2.-acf {
    max-width: 400px;
}
