@import "@/resources/styles/mixins/*";
@import "@/resources/styles/variables";

// Patch. TODO: remove when new GF released
.gform-icon--close::before {
    content: "\e903";
}

// Mixins
gravity-forms-fields() {
    input[type="color"],
    input[type="date"],
    input[type="datetime-local"],
    input[type="datetime"],
    input[type="email"],
    input[type="file"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    input[type="week"],
    select,
    textarea {
        {block}
    }
}

// Buttons
:where(.gform_wrapper) .button {
    has-background-color($colors.primary);
    interactive-background-colors();
}

for $name, $color in $colors {
    :where(.has-{$name}-theme .gform_wrapper) .button,
    :where(.gform_wrapper > .has-{$name}-theme) .button {
        has-background-color($color);
        interactive-background-colors();
    }
}

// Previous and next buttons
:root .gform_wrapper.gravity-theme .gform_previous_button.button,
:root .gform_wrapper.gravity-theme .gform_save_link.button {
    has-background-color($colors.light);
    interactive-background-colors();
}

// Footer
:root .gform_wrapper.gravity-theme .gform_footer,
:root .gform_wrapper.gravity-theme .gform_page_footer {
    padding-block: 0;
}

.gform_wrapper.gravity-theme > :not(.has-inline-submit) .gform_footer,
.gform_wrapper.gravity-theme > :not(.has-inline-submit) .gform_page_footer {
    margin-block-start: var(--wp--style--block-gap);
}

:root .gform_wrapper.gravity-theme .gform_footer button,
:root .gform_wrapper.gravity-theme .gform_footer input,
:root .gform_wrapper.gravity-theme .gform_page_footer button,
:root .gform_wrapper.gravity-theme .gform_page_footer input {
    margin-block-end: 0;
}

// Progress bar
:root .gform_wrapper.gravity-theme .gf_progressbar_title {
    margin: 0;
    font-size: $font-sizes.small;
    text-align: center;
    color: inherit;
}

:root .gform_wrapper.gravity-theme .gf_progressbar {
    block-size: $border.radius * 2;
    margin-block: var(--wp--style--block-gap);
    border-radius: $border.radius if $enable.rounded;
    background-color: tint($colors.primary, 50%);
}

:root .gform_wrapper.gravity-theme .gf_progressbar .gf_progressbar_percentage {
    position: relative;
    block-size: 100%;
    border-radius: $border.radius if $enable.rounded;
}

:root .gform_wrapper.gravity-theme .gf_progressbar_percentage,
:root .gform_wrapper.gravity-theme .gf_progressbar_percentage.percentbar_blue {
    background-color: $colors.primary;
}

:root .gform_wrapper.gravity-theme .gf_progressbar_percentage span {
    position: absolute;
    inset-block-start: 50%;
    inset-inline-end: -1.5em;
    inline-size: 3.25em;
    margin: 0;
    font-size: $font-sizes.small;
    line-height: inherit;
    color: white;
    text-align: center;
    border-radius: 3em if $enable.rounded;
    background-color: $colors.primary;
    transform: translateY(-50%);
    box-shadow: 0 0 0 $border.radius $root.backgroundColor;
}

.gform_wrapper.gravity-theme .gf_progressbar_percentage.percentbar_100 span {
    inset-inline-end: 0;
}

for $name, $color in $colors {
    :root :where(.has-{$name}-theme) .gform_wrapper.gravity-theme .gf_progressbar,
    :root .gform_wrapper > .has-{$name}-theme .gf_progressbar {
        background-color: tint($color, 50%);
    }

    :root :where(.has-{$name}-theme) .gform_wrapper.gravity-theme .gf_progressbar_percentage,
    :root .gform_wrapper >.has-{$name}-theme .gf_progressbar_percentage,
    :root :where(.has-{$name}-theme) .gform_wrapper.gravity-theme .gf_progressbar_percentage.percentbar_blue,
    :root .gform_wrapper >.has-{$name}-theme .gf_progressbar_percentage.percentbar_blue {
        background-color: $color;
    }

    :root :where(.has-{$name}-theme) .gform_wrapper.gravity-theme .gf_progressbar_percentage span,
    :root .gform_wrapper > .has-{$name}-theme .gf_progressbar_percentage span {
        background-color: $color;
    }
}

// Messages and errors
.gform_wrapper .gform_required_legend {
    visually-hidden();
}

:root .gform_wrapper .gfield_error .gfield_repeater_cell label,
:root .gform_wrapper .gfield_error label,
:root .gform_wrapper .gfield_error legend,
:root .gform_wrapper .gfield_validation_message,
:root .gform_wrapper .validation_message,
:root .gform_wrapper [aria-invalid="true"] + label,
:root .gform_wrapper label + [aria-invalid="true"],
:root .gform_wrapper.gravity-theme .gform_validation_errors > ol li,
:root .gform_wrapper.gravity-theme .gform_validation_errors > ol a {
    has-color($colors.danger);
}

:root .gform_wrapper.gravity-theme .gform_validation_errors > ol {
    margin-block-start: $spacing["30"];
    padding-inline-start: 1em;
}

:root .gform_wrapper .gform_validation_errors,
:root .gform_wrapper.gravity-theme .gfield_validation_message,
:root .gform_wrapper.gravity-theme .validation_message {
    margin-block: $spacing["30"];
    padding: $spacing["30"];
    padding-inline-start: CALC($spacing["30"] \* 2 \+ 28px);
    border: 0;
    border-radius: $enable.rounded ? $border.radius : 0;
    box-shadow: none;
}

:root .gform_wrapper.gravity-theme .gfield_validation_message {
    margin-block-end: 0;
}

:root .gform_wrapper.gravity-theme .gfield_validation_message,
:root .gform_wrapper.gravity-theme .validation_message {
    padding-inline-start: $spacing["30"];
    color: $colors.danger;
}

:root .gform_wrapper .gform_validation_errors > h2 {
    margin-block-end: 0;
    font-size: inherit;
    color: $colors.danger;
    line-height: inherit;
}

:root .gform_wrapper .gform_validation_errors > h2 .gform-icon {
    align-items: start;
    padding-block-start: $spacing["30"];
}

.gform_ajax_spinner {
    margin-inline-start: 1em;
    vertical-align: middle;
    mix-blend-mode: difference;
}

[data-field-position="inline"] .gform_ajax_spinner {
    align-self: flex-end;
    margin-bottom: .5em;
}

// Fields
:root .gform_wrapper.gravity-theme .gform_fields {
    column-gap: $spacing["40"];
    row-gap: var(--wp--style--block-gap);
}

.has-compact-theme .gform_wrapper.gravity-theme .gform_fields,
.gform_wrapper > .has-compact-theme .gform_fields {
    row-gap: $spacing["30"];
}

:root .gform_wrapper.gravity-theme :is(.ginput_complex, .gform-grid-row) {
    gap: $spacing["40"];
}

+mq($from: 641px) {
    :root .gform_wrapper.gravity-theme .ginput_complex:not(.ginput_container_address) fieldset:not([style*="display:none"]):not(.ginput_full),
    :root .gform_wrapper.gravity-theme .ginput_complex:not(.ginput_container_address) span:not([style*="display:none"]):not(.ginput_full) {
        // Handled by flex gap
        padding-inline-end: 0;
    }

    :root .gform_wrapper.gravity-theme .ginput_complex:not(.ginput_container_address) fieldset:not([style*="display:none"]):not(.ginput_full) ~ span:not(.ginput_full),
    :root .gform_wrapper.gravity-theme .ginput_complex:not(.ginput_container_address) span:not([style*="display:none"]):not(.ginput_full) ~ span:not(.ginput_full) {
        padding-inline-start: 0;
    }
}

.has-compact-theme .gform_wrapper.gravity-theme .gfield .gfield_validation_message,
.gform_wrapper > .has-compact-theme .gfield .gfield_validation_message {
    visually-hidden();
}

:root .gform_wrapper.gravity-theme .gfield_label {
    form-label();
}

:root .gform_wrapper.gravity-theme .gfield_header_item,
:root .gform_wrapper.gravity-theme .gform_fileupload_rules,
:root .gform_wrapper.gravity-theme .ginput_complex label {
    font-size: $font-sizes.small;
    padding-block-start: CALC($spacing["30"] \/ 2);
}

:root .gform_wrapper.gravity-theme .gfield_checkbox label,
:root .gform_wrapper.gravity-theme .gfield_radio label,
:root .gfield_consent_label {
    font-size: $input.font-size;
    font-weight: inherit;
}

:root .gform_wrapper .gfield_required {
    visually-hidden();
    padding-inline-start: .125em;
    font-size: inherit;
    color: $colors.danger;
}

:root .gform_wrapper.gravity-theme .description,
:root .gform_wrapper.gravity-theme .gfield_description,
:root .gform_wrapper.gravity-theme .gsection_description,
:root .gform_wrapper.gravity-theme .instruction {
    padding-block-start: $spacing["30"];
    font-size: $font-sizes.small;
    opacity: .65;
}

:root .gform_wrapper.gravity-theme .field_description_above .description,
:root .gform_wrapper.gravity-theme .field_description_above .gfield_description,
:root .gform_wrapper.gravity-theme .field_description_above .gsection_description,
:root .gform_wrapper.gravity-theme .field_description_above .instruction {
    padding-block-start: 0;
    padding-block-end: $spacing["30"];
}

:root .gform_wrapper.gravity-theme .ginput_counter {
    font-size: $font-sizes.small;
    color: inherit;
    opacity: .65;
}

:root .gform_wrapper.gravity-theme .gfield.gfield--width-third input,
:root .gform_wrapper.gravity-theme .gfield.gfield--width-third select,
:root .gform_wrapper.gravity-theme .gfield.gfield--width-quarter input,
:root .gform_wrapper.gravity-theme .gfield.gfield--width-quarter select {
    // Anything over 4 columns probably won't reach the medium size anyways
    inline-size: 100%;
}

:root .gform_wrapper.gravity-theme .gfield input.medium,
:root .gform_wrapper.gravity-theme .gfield select.medium {
    inline-size: rem(350);
}

:root .gform_wrapper.gravity-theme .gfield input.small,
:root .gform_wrapper.gravity-theme .gfield select.small {
    inline-size: rem(200);
}

+gravity-forms-fields() {
    :root .gform_wrapper.gravity-theme[class] & {
        form-control();
    }
}

:root .gform_wrapper.gravity-theme[class] select {
    form-control-select();
}

// Single upload
:root .gform_wrapper.gravity-theme .ginput_container_fileupload input {
    form-control-file();
}

// Textarea
:root .gform_wrapper.gravity-theme .gfield textarea.small,
:root .gform_wrapper.gravity-theme .gfield textarea.medium,
:root .gform_wrapper.gravity-theme .gfield textarea.large {
    block-size: auto;
    field-sizing: content;
}

:root .gform_wrapper.gravity-theme .gfield textarea.small {
    min-block-size: CALC(\($input.line-height \* 2em\) \+ \($input.border-width \* 2\) \+ $input.padding-block \* 2);
}

:root .gform_wrapper.gravity-theme .gfield textarea.medium {
    min-block-size: CALC(\($input.line-height \* 4em\) \+ \($input.border-width \* 2\) \+ $input.padding-block \* 2);
}

:root .gform_wrapper.gravity-theme .gfield textarea.large {
    min-block-size: CALC(\($input.line-height \* 8em\) \+ \($input.border-width \* 2\) \+ $input.padding-block \* 2);
}

// Checkbox + radio field
:root .gform_wrapper.gravity-theme .gfield-choice-input + label {
    max-inline-size: calc(100% - 2em);
    vertical-align: top;
}

:root .gform_wrapper.gravity-theme .gfield_checkbox button,
:root .gform_wrapper.gravity-theme .gfield_checkbox input[type="text"],
:root .gform_wrapper.gravity-theme .gfield_radio button,
:root .gform_wrapper.gravity-theme .gfield_radio input[type="text"] {
    margin-block-start: $spacing["30"];
}

// Date field
:root .gform_wrapper.gravity-theme .ginput_complex .ginput_container_date input,
:root .gform_wrapper.gravity-theme .ginput_complex .ginput_container_date select {
    min-inline-size: 6em;
}

:root .gform_wrapper.gravity-theme .ginput_container_date + .ginput_container_date {
    // Handled by flex gap
    margin-inline-start: 0;
}

// Time field
:root .gform_wrapper.gravity-theme .ginput_container_time {
    min-inline-size: 4em;
}

:root .gform_wrapper.gravity-theme .hour_minute_colon {
    padding-block: $input.padding-block;
    padding-inline: 0;
    line-height: $input.line-height;
}

:root .gform_wrapper.gravity-theme .gfield_time_ampm {
    margin-inline-start: 0;
}

// List field
:root .gform_wrapper.gravity-theme .gfield_header_item {
    form-label();
}

// File/upload field
:root .gform_drop_area {
    margin-block-end: 0;
    padding: $spacing["60"];
    border-width: $border.width;
    border-color: $input.border-color;
    border-radius: $enable.rounded ? $input.border-radius : 0;
}

:root .gform_fileupload_rules {
    margin-block-start: 0;
}

// Consent field
:root .gform_wrapper.gravity-theme .field_description_below .gfield_consent_description,
:root .gform_wrapper.gravity-theme .gfield_consent_description {
    max-block-size: rem(250);
    margin-block-start: $spacing["30"];
    padding: $spacing["30"];
    font-size: $font-sizes.small;
    overflow-y: auto;
    border: $input.border-width solid $input.border-color;
    border-radius: $input.border-radius if $enable.rounded;
}

// Pricing fields
:root .gform_wrapper.gravity-theme .ginput_product_price_wrapper {
    display: block;
}

:root .gform_wrapper.gravity-theme .gfield .ginput_quantity {
    max-inline-size: CALC(6ch \+ \($input.border-width \* 2\) \+ $input.padding-inline \* 2);
}

:root .gform_wrapper.gravity-theme .chosen-container-multi,
:root .gform_wrapper.gravity-theme .ginput_product_price,
:root .gform_wrapper.gravity-theme .ginput_product_price_label,
:root .gform_wrapper.gravity-theme .ginput_quantity_label {
    font-size: inherit;
}

:root .gform_wrapper.gravity-theme .ginput_product_price,
:root .gform_wrapper.gravity-theme .ginput_shipping_price {
    color: inherit;
}

:root .ginput_price {
    badge();
    has-background-color($grays[1]);
    margin-inline-start: $spacing["30"];
}

:root .ginput_price:empty {
    padding: 0;
}

:root .gform_wrapper.gravity-theme .ginput_total {
    color: inherit;
}

// PayPal checkout
.gform_ppcp_payment_method {
    margin-block-end: $spacing["30"];
}

:root .gform_wrapper.gravity-theme .top_label div.ginput_container.ginput_container_custom_card_fields {
    margin-block-start: 0;
}

:root .gform_wrapper.gravity-theme .gform_ppcp_custom_card_fields .ginput_container_custom_card_fields--is-active {
    display: flex;
}

:root .gform_wrapper.gravity-theme .gform_card_icon_container {
    block-size: auto;
    margin-block: 0 $spacing["30"];
}

:root .gform_wrapper.gravity-theme .ginput_container_custom_card_fields .ginput_card_field {
    form-control();
    display: block;
    block-size: CALC($input.line-height \* 1em \+ $input.padding-block \* 2 \+ $input.border-width \* 2);
    padding-block: 0 !important;
    padding-inline: $input.padding-inline !important;
}

:root .gform_wrapper.gravity-theme .ginput_container_custom_card_fields .ginput_card_field iframe {
    float: none !important;
}

.ginput_container_custom_card_fields label {
    margin-block-end: 0;
}

:root .gform_wrapper.gravity-theme .ginput_container_custom_card_fields.ginput_complex .ginput_cardinfo_left .ginput_card_expiration {
    max-inline-size: none;
}

:root .gform_wrapper.gravity-theme .ginput_container_custom_card_fields.ginput_complex .ginput_cardinfo_right span.ginput_card_security_code_icon {
    margin: 0;
}

// Address field
:root .gform_wrapper.gravity-theme .ginput_container_address {
    margin-inline: auto;
}

:root .gform_wrapper.gravity-theme .ginput_container_address span {
    flex-grow: 1;
    padding-inline: 0;
}

.ginput_container_address .gf_clear_complex {
    display: none;
}

:root .gform_wrapper.gravity-theme .ginput_container_address {
    margin-block-end: 0;
}

:root .gform_wrapper.gravity-theme .ginput_container_address span,
:root .gform_wrapper.gravity-theme .ginput_full:not(:last-of-type) {
    margin-block-end: 0;
}

.gform_wrapper.gravity-theme .ginput_container_address.has_city.has_state.has_zip:not(.has_country) .ginput_address_city,
.gform_wrapper.gravity-theme .ginput_container_address.has_city.has_state.has_zip:not(.has_country) .ginput_address_state {
    +mq($from: 640px) {
        flex-basis: 35%;
    }
}

.gform_wrapper.gravity-theme .ginput_container_address.has_city.has_state.has_zip:not(.has_country) .ginput_address_zip {
    +mq($from: 640px) {
        flex-basis: 15%;
    }
}
