<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group"><!-- wp:group {"tagName":"header","align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"className":"page-title-container ","layout":{"type":"constrained"}} -->
<header class="wp-block-group alignwide page-title-container" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60)"><!-- wp:heading {"textAlign":"center","level":1,"align":"wide","className":"page-title"} -->
<h1 class="wp-block-heading alignwide has-text-align-center page-title">Page Not Found</h1>
<!-- /wp:heading --></header>
<!-- /wp:group -->

<!-- wp:group {"className":"page-content","layout":{"type":"constrained"}} -->
<div class="wp-block-group page-content"><!-- wp:paragraph -->
<p>Sorry, this page could not be found. Please try one of the links in the menus.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
