<!-- wp:template-part {"slug":"header","theme":"theme"} /-->

<!-- wp:group {"tagName":"header","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"className":"page-title-container ","layout":{"type":"constrained"}} -->
<header class="wp-block-group page-title-container" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60)"><!-- wp:query-title {"type":"archive","textAlign":"center","showPrefix":false,"align":"wide","className":"page-title"} /--></header>
<!-- /wp:group -->

<!-- wp:query {"queryId":0,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"tagName":"main","layout":{"contentSize":null,"type":"constrained"}} -->
<main class="wp-block-query"><!-- wp:post-template {"layout":{"type":"default"}} -->
<!-- wp:post-featured-image {"isLink":true,"height":"15rem","align":"wide"} /-->

<!-- wp:post-title {"isLink":true,"align":"wide"} /-->

<!-- wp:post-date {"format":null} /-->

<!-- wp:post-excerpt {"showMoreOnNewLine":false} /-->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"paginationArrow":"arrow","align":"wide","layout":{"type":"flex","justifyContent":"space-between"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></main>
<!-- /wp:query -->

<!-- wp:template-part {"slug":"footer","theme":"theme"} /-->
