@import "@/resources/styles/mixins/*";
@import "@/resources/styles/variables";

// Container
:root .tribe-common .tribe-common-l-container {
    padding-inline: var(--tec-grid-gutter-small-half);
}

:root .tribe-events .tribe-events-l-container {
    padding-block-start: $spacing["50"];

    +mq($from: sm) {
        padding-block-start: $spacing["80"];
    }
}

:root .tribe-common--breakpoint-medium.tribe-events .tribe-events-l-container {
    padding-block-start: $spacing["80"];
}

:root .tribe-common--breakpoint-medium.tribe-common .tribe-common-l-container {
    padding-inline: 0;
}

:root .tribe-common.tribe-events-view--list .tribe-common-l-container,
:root .tribe-common.tribe-events-view--day .tribe-common-l-container {
    max-inline-size: $layout.content-size;
}

:root .tribe-events-single > .tribe_events {
    overflow: visible;
}

// Date
.events-single .tribe-events-schedule__datetime {
    color: $colors.primary;
    font-size: $font-sizes.large;
}

// Status
.tribe-events-status-single {
    padding-block: $spacing["30"];
    padding-inline: $spacing["40"];
    font-size: $font-sizes.small;
    border-inline-start: 5px solid $colors.light;
    background-color: $colors.lighter;
}

.tribe-events-status-single__header--bold {
    font-weight: 700;
}

.tribe-events-status-single--canceled {
    padding-inline-start: 2em;
    border-inline-start-color: $colors.danger;
    background-color: lighten($colors.danger, 95%);
    background-image: svg-fill("@/resources/icons/warning.svg", $colors.danger);
    background-repeat: no-repeat;
    background-position: .5em .85em;
    background-size: 1em;
}

.tribe-events-status-single--postponed {
    padding-inline-start: 2em;
    border-inline-start-color: $colors.warning;
    background-color: lighten($colors.warning, 95%);
    background-image: svg-fill("@/resources/icons/warning.svg", $colors.warning);
    background-repeat: no-repeat;
    background-position: .5em .85em;
    background-size: 1em;
}

// Featured image
:root .tribe-events .tribe-events-calendar-day__event-featured-image-link,
:root .tribe-events .tribe-events-calendar-list__event-featured-image {
    border-radius: $border.radius if $enable.rounded;
}

// Add to calendar
:root .single-tribe_events .tribe-events-c-subscribe-dropdown__container,
:root .tribe-events .tribe-events-c-subscribe-dropdown__container {
    margin-block-start: var(--wp--style--block-spacing, 1.5em);
}

:root .tribe-events-c-subscribe-dropdown {
    // inline-size: fit-content;
    position: relative;
}

:root .single-tribe_events .tribe-events-c-subscribe-dropdown,
:root .tribe-events .tribe-events-c-subscribe-dropdown {
    margin-block: 0;
}

:root .single-tribe_events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button,
:root .tribe-events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button {
    button();
    button-outline();
    has-color($colors.primary);
    interactive-colors();
    font-size: $font-sizes.small;
    white-space: nowrap;
}

:root .single-tribe_events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button.tribe-events-c-subscribe-dropdown__button--active,
:root .single-tribe_events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button:focus,
:root .single-tribe_events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button:focus-within,
:root .single-tribe_events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button:hover,
:root .tribe-events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button.tribe-events-c-subscribe-dropdown__button--active,
:root .tribe-events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button:focus,
:root .tribe-events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button:focus-within,
:root .tribe-events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button:hover {
    color: var(--color);
    background-color: transparent;
}

:root .single-tribe_events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button-text,
:root .single-tribe_events .tribe-events-c-subscribe-dropdown button.tribe-events-c-subscribe-dropdown__button-text,
:root .tribe-events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button-text,
:root .tribe-events .tribe-events-c-subscribe-dropdown button.tribe-events-c-subscribe-dropdown__button-text {
    pointer-events: none;
}

:root .single-tribe_events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button-icon,
:root .tribe-events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button-icon {
    margin-inline-start: 0;
}

:root .single-tribe_events .tribe-events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button-icon,
:root .tribe-block__events-link .tribe-events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button-icon {
    margin-inline-start: 0;
}

:root .single-tribe_events .tribe-events-c-subscribe-dropdown__export-icon,
:root .tribe-block__events-link .tribe-events-c-subscribe-dropdown__export-icon {
    margin-block-start: 0;
    margin-inline-end: 0;
}

:root .single-tribe_events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__content,
:root .tribe-events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__content {
    position: absolute;
    inset-block-start: 100%;
    inline-size: 100%;
}

:root .single-tribe_events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__list,
:root .tribe-events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__list {
    dropdown-container();
    font-size: $font-sizes.small;
}

:root .single-tribe_events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__list-item,
:root .tribe-events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__list-item {
    padding: 0;
}

:root .single-tribe_events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__list-item a,
:root .tribe-events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__list-item a {
    dropdown-item();
}

// View selector
.tribe-events .tribe-events-c-view-selector__list-item-icon .tribe-common-c-svgicon {
    display: block;
}

// Single event venue
.tribe-block__venue__meta,
.tribe-block__venue__name > * {
    font-size: $font-sizes.small;
}

.tribe-country-name {
    display: none;
}

.tribe-block__venue__map {
    margin-block-start: $spacing["50"];
}

// Single event classic details
.tribe-events-event-meta.primary {
    position: relative;
}

.tribe-events-event-meta.primary,
.tribe-events-event-meta.secondary,
.tribe-events-single-section-title {
    font-size: $font-sizes.small;
}

.tribe-events-event-meta dd[class$="url"] {
    margin-block-start: 0;
}

// Datepicker
:root .tribe-events .datepicker .day.current {
    color: inherit;
    background-color: $colors.light;
}

:root .tribe-events .datepicker .day.current:hover {
    background-color: var(--tec-color-background-secondary-datepicker);
}
