.visually-hidden,
.screen-reader-text {
    visually-hidden();
}

.skip-to-main {
    visually-hidden-focusable();
    position: absolute;
    z-index: 10000;
    inset-block-start: 0;
    inset-inline-start: 0;
    padding: $spacing["30"];
    color: black;
    text-decoration: none;
    background-color: white;
}
