.dropup,
.dropright,
.dropdown,
.dropleft {
    position: relative;
}

.dropdown-toggle {
    caret();
}

.dropdown-menu {
    dropdown-menu();
}

.dropdown-menu-right {
    inset-inline-start: auto;
    inset-inline-end: 0;
}

.dropup .dropdown-menu {
    inset-block: auto 100%;
    margin-block: 0 $dropdown.spacer;
}

.dropup .dropdown-toggle {
    caret(up);
}

.dropright .dropdown-menu {
    inset-block-start: 0;
    inset-inline: 100% auto;
    margin-block-start: 0;
    margin-inline-start: $dropdown.spacer;
}

.dropright .dropdown-toggle {
    caret(right);

    &::after {
        vertical-align: 0;
    }
}

.dropleft .dropdown-menu {
    inset-block-start: 0;
    inset-inline: auto 100%;
    margin-block-start: 0;
    margin-inline-end: $dropdown.spacer;
}

.dropleft .dropdown-toggle {
    caret(left);

    &::before {
        vertical-align: 0;
    }
}

.dropdown-menu[x-placement^="top"],
.dropdown-menu[x-placement^="right"],
.dropdown-menu[x-placement^="bottom"],
.dropdown-menu[x-placement^="left"] {
    inset-inline-end: auto;
    inset-block-end: auto;
}

.dropdown-divider {
    block-size: 0;
    margin-block: $spacing["30"];
    margin-inline: 0;
    overflow: hidden;
    border-block-start: 1px solid $dropdown.divider-background-color;
}

.dropdown-item {
    dropdown-item();
}

.dropdown-menu.show {
    display: block;
}

.dropdown-header {
    display: block;
    margin-block-end: 0;
    padding-block: $dropdown.padding-block;
    padding-inline: $dropdown.padding-inline;
    font-size: $font-sizes.small;
    color: $dropdown.header-color;
    white-space: nowrap;
}

.dropdown-item-text {
    display: block;
    padding-block: $dropdown.padding-block;
    padding-inline: $dropdown.padding-inline;
    color: $dropdown.link-color;
}
