@font-face {
    font-family: "Neue Helvetica";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: local(""), url("../fonts/neue-helvetica-light.woff2") format("woff2");
}

@font-face {
    font-family: "Neue Helvetica";
    font-weight: 300;
    font-style: italic;
    font-display: swap;
    src: local(""), url("../fonts/neue-helvetica-light-italic.woff2") format("woff2");
}

@font-face {
    font-family: "Neue Helvetica";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: local(""), url("../fonts/neue-helvetica-medium.woff2") format("woff2");
}

@font-face {
    font-family: "Neue Helvetica";
    font-weight: 500;
    font-style: italic;
    font-display: swap;
    src: local(""), url("../fonts/neue-helvetica-medium-italic.woff2") format("woff2");
}

@font-face {
    font-family: "Neue Helvetica";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: local(""), url("../fonts/neue-helvetica-bold.woff2") format("woff2");
}

@font-face {
    font-family: "Neue Helvetica";
    font-weight: 700;
    font-style: italic;
    font-display: swap;
    src: local(""), url("../fonts/neue-helvetica-bold-italic.woff2") format("woff2");
}
