label {
    form-label();
}

.form-control {
    form-control();
}

select.form-control {
    form-control-select();
}

.form-control[type="file"] {
    form-control-file();
}

.post-password-form input[type="password"] {
    form-control();
    max-inline-size: 100%;
    margin-inline-end: $spacing["40"];
}

.post-password-form input[type="submit"] {
    button();
    has-background-color($colors.primary);
    margin-block: $spacing["40"];
}

select[name="archive-dropdown"] {
    form-control();
    form-control-select();
}
