.lity-active {
    overflow: hidden;
}

.lity {
    background-color: $modal.backdrop-color;
    backdrop-filter: blur(5px);
}

.lity-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
}

.lity-wrap::before {
    display: none;
}

.lity.is-fullscreen .lity-container {
    inline-size: 100%;
}

:root .lity-content::after {
    box-shadow: $modal.shadow;
}

.lity-close {
    inset-inline-end: .25em;
    block-size: 44px;
    inline-size: 44px;
    font-size: 44px;
    color: $modal.close-color;
    text-shadow: none;

    &:hover,
    &:focus,
    &:active,
    &:visited {
        font-size: 44px;
        color: darken($modal.close-color, 15%);
        text-shadow: none;
    }
}

.lity-image img {
    margin-inline: auto;
}

.modal {
    max-block-size: none !important;
    max-inline-size: $modal.inline-size;
    padding-block: $modal.padding-block;
    padding-inline: $modal.padding-inline;
    color: $modal.color;
    background-color: $modal.background-color;

    +mq($until: sm) {
        padding-inline: $spacing["30"];
    }

    // Bottom padding "disappears" with `overflow: auto` in Firefox
    @supports (-moz-appearance: none) {
        &::after {
            content: "";
            display: block;
            block-size: $modal.padding-block;
            inline-size: 100%;
        }
    }
}
