@viewport {
    width: device-width;
}

html {
    box-sizing: border-box;
    text-size-adjust: 100%;
    text-align: start;
    scrollbar-gutter: stable;
    -webkit-tap-highlight-color: rgba(black, 0);
}

*,
::before,
::after {
    box-sizing: inherit;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

main {
    display: block;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
    resize: block;
}

img {
    block-size: auto;
    max-inline-size: 100%;
}

// Google maps
.gm-style img {
    max-inline-size: none;
}

template {
    display: none;
}

[hidden] {
    display: none !important;
}

[unselectable] {
    user-select: none;
}

input[type="number"] {
    inline-size: auto;
}

pre {
    overflow: auto;
}

th {
    text-align: inherit;
}
