html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

// Interactive elements
+interactive-elements() {
    // Always apply to allow for transition
    outline: 0 $focus.style var(--outline-color, $focus.color);
    outline-offset: var(--outline-offset, $focus.offset);

    &:focus,
    &.focus {
        outline-width: $focus.width;
    }
}

// Media elements
.mejs-container {
    filter: invert(1) grayscale(1);
    opacity: .5;
}

// Remove spacing between template parts
:where(.wp-site-blocks) > * {
    margin-block-start: 0;
}

// Spacing between content and footer
.page-content > :last-child:not(.alignfull:where(.wp-block-cover, .has-background, .wp-block-media-text)) {
    margin-block-end: $spacing["80"];
}

// Full height
.wp-site-blocks {
    display: flex;
    flex-direction: column;
    min-block-size: 100vh;
}

.wp-site-blocks > main {
    flex: 1 1 auto;
}

// Minimum width for paragraphs (useful for pullquotes)
// See https://css-tricks.com/minimum-paragraph-widths/
:is(.alignleft, .alignright) + :where(h1, h2, h3, h4, h5, h6, p):not(.is-style-balance-text)::before {
    content: "";
    inline-size: 10rem;
    display: block;
    overflow: hidden;
}
