$text-selectors = "h1, h2, h3, h4, h5, h6, p, hr, ul, ol, blockquote, figure";

@layer base {
    :where({$text-selectors}) {
        margin: 0;
    }

    :where({$text-selectors}):where(:not(:first-child)) {
        margin-block-start: var(--wp--style--block-gap);
    }
}

small {
    display: inline-block;
    font-size: $font-sizes.small;
}

figcaption {
    text-align: start;
    font-size: $font-sizes.small;
    color: $colors.secondary;
}

mark {
    color: inherit;
    font-weight: bold;
    background-color: transparent;
}

pre,
code {
    font-family: $fonts.monospace;
}
