.wp-block-button__link {
    border-radius: .25em;
}

.is-style-link > .wp-block-button__link:not(.has-background) {
    color: inherit;
    background-color: transparent;
}

.is-style-pill > .wp-block-button__link {
    border-radius: 50em;
}

.editor-styles-wrapper .wp-block.wp-block-buttons.is-style-group {
    column-gap: 0;
}

.is-style-group > .wp-block-button:not(:last-child) > .wp-block-button__link {
    border-start-end-radius: 0;
    border-end-end-radius: 0;
}

.is-style-group > .wp-block-button:not(:first-child) > .wp-block-button__link {
    margin-inline-start: -2px;
    border-start-start-radius: 0;
    border-end-start-radius: 0;
}
