// WP Fix
:where(mark) {
    background-color: unset;
}

// Awesomplete (custom class name field)
.awesomplete {
    inline-size: 100%;
}

// JVM rich text icons
i.icon {
    vertical-align: middle;
}
