.wp-block-button {
    min-inline-size: min-content;
}

// All buttons
.button,
.wp-block-button__link {
    button();
}

// Override default WP style
// :root .wp-block-button__link {
//     color: var(--color, color-contrast($colors.default));
// }

// Outline button
.is-style-outline > :where(.wp-block-button__link) {
    button-outline();
}

// Override default WP style
.wp-block-button.is-style-outline > .wp-block-button__link {
    border-width: $button.border-width;
    padding-block: $button.padding-block;
    padding-inline: $button.padding-inline;
}

// Link button
.is-style-link > :where(.wp-block-button__link) {
    button-link();
}

// Pill button
.is-style-pill > :where(.wp-block-button__link) {
    button-pill();
}

// Button group block
.wp-block-buttons.is-style-group {
    gap: 0;
}

.wp-block-buttons:where(.is-style-group) > :not(:first-child) {
    margin-inline-start: - $button.border-width;
}

:where(.is-style-group > .wp-block-button:not(:last-child)) > .wp-block-button__link {
    border-start-end-radius: 0;
    border-end-end-radius: 0;
}

:where(.is-style-group > .wp-block-button:not(:first-child)) > .wp-block-button__link {
    border-start-start-radius: 0;
    border-end-start-radius: 0;
}

:where(.wp-block-buttons.is-style-group .wp-block-button__link).active,
:where(.is-style-group) .wp-block-button__link:where(:hover, :focus, :active) {
    position: relative;
    z-index: 2;
}
