.comment {
    max-inline-size: $layout.content-size;
    margin-block-start: var(--wp--style--block-gap);
    font-size: $font-sizes.small;
}

.wp-block-post-comments .commentlist .comment {
    padding-inline-start: CALC($spacing["60"] \+ $spacing["30"] \* 2);
}

.comment-body {
    position: relative;
    padding: $spacing["30"];
    padding-block-start: $spacing["50"];
    border-radius: $border.radius if $enable.rounded;
    background-color: $colors.light;
}

.wp-block-post-comments .comment-meta {
    margin-inline-start: CALC(\($spacing["60"] \+ $spacing["30"] \* 2\) \* -1);
}

.wp-block-post-comments .comment-author .avatar {
    block-size: $spacing["60"];
    inline-size: $spacing["60"];
    margin-inline-end: CALC($spacing["30"] \* 2);
}

.comment-metadata a {
    color: $colors.secondary;
}

.comment-metadata .edit-link {
    margin-inline-start: $spacing["30"];
    font-size: $font-sizes.small;
}

.comment-content {
    margin-block-start: $spacing["40"];
    word-break: break-word;
}

.wp-block-post-comments .commentlist .comment p {
    margin: 0;
    font-size: inherit;
    line-height: inherit;
}

.wp-block-post-comments .commentlist .comment-body p:not(:first-child) {
    margin-block-start: var(--wp--style--block-gap);
}

.comment .reply {
    position: absolute;
    inset-block-start: $spacing["30"];
    inset-inline-end: $spacing["30"];
    font-size: $font-sizes.small;
}

.comment-reply-link {
    has-color($colors.secondary);
    interactive-colors();

    &::after {
        content: " ↩";
        font-weight: 700;
    }
}

// Form
.comment-form {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing["40"];
}

.comment-form > * {
    flex: 1 1 100%;
    margin-block: 0;
}

.comment-form-author,
.comment-form-email,
.comment-form-url {
    flex-basis: rem(200);
}

#comment,
#author,
#email,
#url {
    form-control();
    display: block;
    inline-size: 100%;
}

#comment {
    block-size: CALC(\($input.line-height \* 3em\) \+ $input.padding-block \* 2);
}

.comment-form .required {
    color: $colors.danger;
    font-size: $font-sizes.small;
}

.wp-block-post-comments .comment-form-cookies-consent #wp-comment-cookies-consent {
    margin-block-start: 0;
}

.comment-form-cookies-consent label {
    margin-block-end: 0;
}

.wp-block-post-comments input[type="submit"] {
    button();
    has-background-color($colors.primary);
    interactive-background-colors();
}

.comment-respond {
    margin-block-start: var(--wp--style--block-gap);
}

#cancel-comment-reply-link {
    margin-inline-start: $spacing["40"];
    font-size: $font-sizes.small;
    font-weight: 400;
}
