.wp-block-cover {
    padding-inline-start: var(--wp--style--root--padding-left);
    padding-inline-end: var(--wp--style--root--padding-right);
}

.wp-block-cover.is-light .wp-block-cover__inner-container {
    color: $colors.default;
}
