:root .wp-block-gallery.is-style-logos .wp-block-image {
    aspect-ratio: 16 / 9;
    flex-grow: 0;
}

.wp-block-gallery.is-style-logos .wp-block-image a {
    display: flex;
}

:root .wp-block-gallery.is-style-logos .wp-block-image img {
    max-block-size: 45%;
    max-inline-size: 80% !important;
    margin: auto;
    object-fit: contain;
}
