.wp-block-image {
    margin-block-end: 0;
}

.wp-block-image img {
    display: block;
}

.wp-block-image figcaption {
    margin-block-end: 0;
}

.wp-block-image :is(.alignleft, .alignright) {
    +mq($until: sm) {
        margin-block: 0;
        margin-inline: auto;
        float: none;
    }
}
