:is(ol, ul) {
    padding-inline-start: 1em;
}

// Simple
:where(ol, ul).is-style-simple {
    padding-inline-start: 0;
    list-style: none;
}

:where(ol, ul).is-style-simple li {
    line-height: 1.2;
}

:where(ol, ul).is-style-simple li:not(:first-child) {
    margin-block-start: $spacing["40"];
}

:where(ol, ul).is-style-simple a {
    text-decoration: none;
}

:where(ol, ul).is-style-simple a:where(:hover, :focus) {
    text-decoration: underline;
}

// Columns
:where(ol, ul).is-style-columns {
    padding-inline-start: 0;
    list-style: none;
    column-width: rem(250);
    gap: $spacing["60"];
}

:where(ol, ul).is-style-columns :where(li, ul) {
    break-inside: avoid-column;
    display: table; // Firefox
    // will-change: transform; // Chrome
}

// List group
:where(ol, ul).is-style-group {
    padding-inline-start: 0;
    list-style: none;
}

:where(ol, ul).is-style-group li {
    position: relative;
}

:where(ol, ul).is-style-group li:not(:last-child) {
    border-block-end: 1px solid var(--border-color, lighten($colors.default, 75%));
}

:where(ol, ul).is-style-group :where(li, a) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: $list-group.item-padding-block;
    padding-inline: $list-group.item-padding-inline;
}

:where(ol, ul).is-style-group a {
    stretched-link();
    flex: 1;
    margin-block: CALC($list-group.item-padding-block \* -1);
    margin-inline: CALC($list-group.item-padding-inline \* -1);
}

// Tight
:where(ol, ul).is-style-tight li:not(:first-child) {
    margin-block-start: $spacing["30"];
}

// Loose
:where(ol, ul).is-style-loose li:not(:first-child) {
    margin-block-start: $spacing["50"];
}
