.wp-block-media-text:not(.has-media-on-the-right) .wp-block-media-text__content {
    padding-inline-end: 0;
}

.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
    padding-inline-start: 0;
}

.wp-block-media-text.alignfull .wp-block-media-text__content {
    +mq($from: 600.2px) {
        inline-size: 100%;
        // max-inline-size: CALC($layout.wide-size \/ 2 \+ $spacing["30"]);
    }
}

.wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__content {
    +mq($until: 600.2px) {
        margin-block-start: $spacing["60"];
        padding-inline: 0;
    }
}

.wp-block-media-text.is-stacked-on-mobile.alignfull .wp-block-media-text__content {
    +mq($until: 600.2px) {
        padding-inline: $spacing["30"];
    }
}

.wp-block-media-text.alignfull.has-media-on-the-right .wp-block-media-text__content {
    +mq($from: 600.2px) {
        margin-inline-start: auto;
    }
}

.wp-block-media-text.alignfull:not(.has-media-on-the-right) .wp-block-media-text__content {
    padding-inline-end: $spacing["30"];
}

.wp-block-media-text.alignfull.has-media-on-the-right .wp-block-media-text__content {
    padding-inline-start: $spacing["30"];
}
