.wp-block-query-pagination {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;

    +mq($until: md) {
        display: flex;
    }
}

.wp-block-query-pagination > .wp-block-query-pagination-next,
.wp-block-query-pagination > .wp-block-query-pagination-numbers,
.wp-block-query-pagination > .wp-block-query-pagination-previous {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.wp-block-query-pagination .page-numbers,
.wp-block-query-pagination-previous,
.wp-block-query-pagination-next {
    display: inline-block;
    min-inline-size: 2em;
    margin: CALC($spacing["30"] \/ 2);
    padding-block: 0;
    padding-inline: $spacing["30"];
    text-align: center;
    text-decoration: none;
    border: $border.width solid transparent;
    border-radius: $border.radius if $enable.rounded;

    &:hover,
    &:focus {
        text-decoration: none;
        // border-color: $colors.links;
        background-color: $colors.light;
    }
}

.wp-block-query-pagination .page-numbers.current {
    color: color-contrast($colors.links);
    font-weight: 700;
    background-color: $colors.links;
}

.wp-block-query-pagination .page-numbers.dots {
    min-inline-size: 0;
    padding-inline: 0;
    border-color: transparent;
    background-color: transparent;
}

.wp-block-query-pagination-previous,
.wp-block-query-pagination-next {
    text-align: start;
}

.infinite-scroll-status {
    display: none;
}

.infinite-scroll-request {
    filter: invert(1);
}
