.wp-block-separator {
    inline-size: 100%;
    margin-inline: auto;
    border: 0;
    border-block-start: $border.width solid;
}

.wp-block-separator:not(.is-style-wide) {
    max-inline-size: $spacing["80"];
}
