for $name, $color in $colors {
    .has-{$name}-background-color {
        has-background-color($color, !important);
    }

    .has-{$name}-border-color {
        has-border-color($color, !important);
    }
}

// Separate loop so text colors take precedence over background
for $name, $color in $colors {
    .has-{$name}-color {
        has-color($color, !important);
    }
}

// Add interactive styles
+interactive-elements() {
    &.has-text-color:where(:not(.has-background)) {
        interactive-colors(!important);
    }

    &.has-background {
        interactive-background-colors(!important);
    }
}

// Opacity
for $i in 1..9 {
    .has-background-opacity-{$i} {
        --background-opacity: ($i / 10);
    }
}

// When color is set but link color is not
:where(.has-text-color:not(.has-link-color)) a {
    color: inherit;
    text-decoration: underline;
}

.has-text-color-muted {
    opacity: 0.5;
}
