for $name in keys($breakpoints) {
    +mq($from: $name) {
        $postfix = breakpoint-postfix($name, $breakpoints);
        // "block" in quotes because https://github.com/stylus/stylus/issues/1741
        for $value in (none inline inline-block "block" table table-row table-cell flex inline-flex grid inline-grid) {
            .has-display-{$value}{$postfix} {
                display: unquote($value) !important;
            }
        }
    }
}

.collapse:not(.is-show) {
    display: none !important;
}

[data-collapse][aria-expanded="true"] .is-collapse,
[data-collapse][aria-expanded="false"] .is-show {
    display: none !important;
}

@media print {
    .is-only-screen {
        display: none !important;
    }
}
