for $name in keys($breakpoints) {
    +mq($from: $name) {
        $postfix = breakpoint-postfix($name, $breakpoints);

        for $value in (row column row-reverse column-reverse) {
            .has-flex-direction-{$value}{$postfix} {
                flex-direction: $value !important;
            }
        }

        for $value in (wrap nowrap wrap-reverse) {
            .has-flex-{$value}{$postfix} {
                flex-wrap: $value !important;
            }
        }

        .has-flex-fill{$postfix} {
            flex: 1 1 auto !important;
        }

        .has-flex-grow-0{$postfix} {
            flex-grow: 0 !important;
        }

        .has-flex-grow-1{$postfix} {
            flex-grow: 1 !important;
        }

        .has-flex-shrink-0{$postfix} {
            flex-shrink: 0 !important;
        }

        .has-flex-shrink-1{$postfix} {
            flex-shrink: 1 !important;
        }

        .has-justify-content-start{$postfix} {
            justify-content: flex-start !important;
        }

        .has-justify-content-end{$postfix} {
            justify-content: flex-end !important;
        }

        .has-justify-content-center{$postfix} {
            justify-content: center !important;
        }

        .has-justify-content-between{$postfix} {
            justify-content: space-between !important;
        }

        .has-justify-content-around{$postfix} {
            justify-content: space-around !important;
        }

        .has-align-items-start{$postfix} {
            align-items: flex-start !important;
        }

        .has-align-items-end{$postfix} {
            align-items: flex-end !important;
        }

        .has-align-items-center{$postfix} {
            align-items: center !important;
        }

        .has-align-items-baseline{$postfix} {
            align-items: baseline !important;
        }

        .has-align-items-stretch{$postfix} {
            align-items: stretch !important;
        }

        .has-align-content-start{$postfix} {
            align-content: flex-start !important;
        }

        .has-align-content-end{$postfix} {
            align-content: flex-end !important;
        }

        .has-align-content-center{$postfix} {
            align-content: center !important;
        }

        .has-align-content-between{$postfix} {
            align-content: space-between !important;
        }

        .has-align-content-around{$postfix} {
            align-content: space-around !important;
        }

        .has-align-content-stretch{$postfix} {
            align-content: stretch !important;
        }

        .has-align-self-auto{$postfix} {
            align-self: auto !important;
        }

        .has-align-self-start{$postfix} {
            align-self: flex-start !important;
        }

        .has-align-self-end{$postfix} {
            align-self: flex-end !important;
        }

        .has-align-self-center{$postfix} {
            align-self: center !important;
        }

        .has-align-self-baseline{$postfix} {
            align-self: baseline !important;
        }

        .has-align-self-stretch{$postfix} {
            align-self: stretch !important;
        }
    }
}
