.has-object-fit-cover {
    position: relative;
    overflow: hidden;

    > :first-child {
        position: absolute;
        block-size: 100%;
        inline-size: 100%;
        object-fit: cover;
    }
}
