.has-auto-block-size {
    block-size: auto !important;
}

.has-auto-inline-size {
    inline-size: auto !important;
}

.has-100-inline-size {
    inline-size: 100% !important;
}

.has-100-min-block-size {
    min-block-size: 100% !important;
}

.has-100-min-inline-size {
    min-inline-size: 100% !important;
}

.has-100vh-min-block-size {
    min-block-size: 100vh !important;
}

.has-none-max-inline-size {
    max-inline-size: none;
}

.has-xs-max-inline-size {
    max-inline-size: rem(350) !important;
}

.has-sm-max-inline-size {
    max-inline-size: rem(500) !important;
}

.has-md-max-inline-size {
    max-inline-size: rem(750) !important;
}

.has-lg-max-inline-size {
    max-inline-size: rem(900) !important;
}

.has-100-max-inline-size {
    max-inline-size: 100% !important;
}
