for $name in keys($breakpoints) {
    $postfix = breakpoint-postfix($name, $breakpoints);

    +mq($from: $name) {
        $props = { margin: has-margin, padding: has-padding };

        for $prop, $abbr in $props {
            $spacing-values = {}

            if ($prop == margin) {
                $spacing-values = { auto: auto }
            }

            merge($spacing-values, $spacing);

            for $size, $length in $spacing-values {
                .{$abbr}-{$size}{$postfix} {
                    {$prop}: $length !important;
                }

                .{$abbr}-block-start-{$size}{$postfix},
                .{$abbr}-block-{$size}{$postfix} {
                    {$prop}-block-start: $length !important;
                }

                .{$abbr}-inline-end-{$size}{$postfix},
                .{$abbr}-inline-{$size}{$postfix} {
                    {$prop}-inline-end: $length !important;
                }

                .{$abbr}-block-end-{$size}{$postfix},
                .{$abbr}-block-{$size}{$postfix} {
                    {$prop}-block-end: $length !important;
                }

                .{$abbr}-inline-start-{$size}{$postfix},
                .{$abbr}-inline-{$size}{$postfix} {
                    {$prop}-inline-start: $length !important;
                }
            }
        }
    }
}
