// Tokens that WordPress doesn't support yet
for $value in (baseline top middle bottom text-bottom text-top) {
    .has-{$value}-vertical-align {
        vertical-align: $value !important;
    }
}

for $value in (lowercase uppercase capitalize) {
    .has-text-transform-{$value} {
        text-transform: $value !important;
    }
}

.has-text-decoration-none {
    text-decoration: none !important;
}

.has-white-space-nowrap {
    white-space: nowrap !important;
}

.has-text-truncated {
    truncate-text();
}

.has-2-line-clamp {
    clamp-lines(2);
}

.has-3-line-clamp {
    clamp-lines(3);
}

.stretched-link {
    stretched-link();
}

.is-style-balance-text {
    text-wrap: balance;
}

.is-style-pretty-text {
    text-wrap: balance;
    text-wrap: pretty;
}
