/**
 * Visually hide, for screen readers
 */
visually-hidden() {
    position: absolute !important;
    block-size: 1px !important;
    inline-size: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

/**
 * Visually hide when not focused only
 */
visually-hidden-focusable() {
    &:not(:focus) {
        visually-hidden();
    }
}
