/**
 * Badge
 */
badge() {
    display: inline-block;
    padding-block: $badge.padding-block;
    padding-inline: $badge.padding-inline;
    font-size: $badge.font-size;
    vertical-align: inherit;
    text-decoration: none !important;
    border-radius: $badge.border-radius if $enable.rounded;

    &:not(:focus-visible) {
        --outline-offset: 0;
    }
}

/**
 * Pill badge
 */
badge-pill() {
    padding-inline: CALC($badge.padding-inline \* 2);
    border-radius: 10em;
}
