/**
 * Get next breakpoint
 *
 * @param ident $name
 * @param list $bps
 * @param list $names
 * @return ident
 */
next-breakpoint($name, $bps = $breakpoints, $names = keys($bps)) {
    $n = index($names, $name);
    return ($n < length($names)) ? $names[$n + 1] : false;
}

/**
 * Get minimum width for breakpoint
 *
 * @param ident $name
 * @param list $bps
 * @return unit
 */
breakpoint-min($name, $bps = $breakpoints) {
    $m = $bps[$name];
    return ($m != 0) ? $m : false;
}

/**
 * Get maximum width for breakpoint
 *
 * @param ident $name
 * @param list $bps
 * @return unit
 */
breakpoint-max($name, $bps = $breakpoints) {
    $n = next-breakpoint($name, $bps);
    return $n ? breakpoint-min($n, $bps) - .02 : false;
}

/**
 * Get breakpoint postfix
 *
 * Returns blank string if smallest breakpoint or the name with @ in front
 *
 * @param ident $name
 * @param list $bps
 * @return string
 */
breakpoint-postfix($name, $bps = $breakpoints) {
    $m = breakpoint-min($name, $bps);
    return ($m == false) ? "" : "\@" + $name;
}

/**
 * Breakpoint media queries
 *
 * Usage:
 *
 *     .element {
 *         +mq($from: md) {
 *             color: red;
 *         }
 *
 *         +mq($from: 500, $until: 800, $extra: "(orientation: landscape)") {
 *             color: blue;
 *         }
 *     }
 *
 * @param mixed $from Inclusive
 * @param mixed $until Exclusive
 * @param string $extra
 * @param list $bps
 */
mq($from = false, $until = false, $extra = false, $bps = $breakpoints) {
    $min = 0;
    $max = 0;
    $mq = "";

    // From (inclusive)
    $from = breakpoint-min($from, $bps) if $from is a "ident" || $from is a "string";
    $from = em($from, $breakpoint-font-size) if $from && unit($from) == "";
    $min = $from if $from;

    // Until (exclusive)
    $until = breakpoint-min($until, $bps) if $until is a "ident" || $until is a "string";
    $until = em($until - .02, $breakpoint-font-size) if $until && unit($until) == "";
    $max = $until if $until;

    // Output rules inside @media
    $mq += s(" and (min-width: %s)", $min) if $min != 0;
    $mq += s(" and (max-width: %s)", $max) if $max != 0;
    $mq += s(" and %s", $extra) if $extra;

    if $mq {
        $mq = s("only screen %s", unquote($mq));

        @media $mq {
            {block}
        }
    } else {
        {block}
    }
}
