/**
 * Button
 */
button() {
    appearance: none;
    display: inline-grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    gap: .5em;
    padding-block: $button.padding-block;
    padding-inline: $button.padding-inline;
    font-size: $button.font-size;
    font-weight: $button.font-weight;
    line-height: $button.line-height;
    text-align: center;
    color: var(--color, color-contrast($colors.default));
    user-select: none;
    word-break: normal;
    text-decoration: none !important;
    border: $button.border-width solid var(--border-color, var(--background-color, $colors.default));
    border-radius: $enable.rounded ? $button.border-radius : 0;
    outline-color: var(--outline-color, rgba($colors.default, .25));
    background-color: var(--background-color, $colors.default);
    transition: .15s ease-in-out;
    transition-property: color, border-color, background-color, outline-width;

    &:not(:focus-visible) {
        --outline-offset: 0;
    }

    &:disabled,
    &.disabled,
    a&:not([href]) {
        pointer-events: none;
        opacity: $button.disabled-opacity;
        filter: contrast(.25);
    }
}

/**
 * Outline style
 */
button-outline() {
    --border-color: var(--color, currentColor);
    --background-color: transparent;
}

/**
 * Link style
 */
button-link() {
    color: var(--color, inherit);
    --border-color: transparent;
    --background-color: transparent;

    &:not(.has-background) {
        padding: 0;

        &:focus {
            --outline-offset: $focus.offset;
        }
    }
}

/**
 * Pill style
 */
button-pill() {
    padding-inline: CALC($button.padding-inline \* 1.5);
    border-radius: 50em;
}
