/**
 * Card
 */
card() {
    display: flex;
    flex-direction: column;
    overflow: hidden if $enable.rounded;
    border-radius: $card.border-radius if $enable.rounded;

    .wp-block-column > &:only-child,
    .wp-block-post > &:only-child {
        block-size: 100%;
    }
}

/**
 * Card header
 */
card-header() {
    padding-block: $card.header-padding-block;
    padding-inline: $card.header-padding-inline;

    &:empty {
        display: none;
    }

    .has-border-color > &:not(:last-child) {
        border-block-end: inherit;
    }
}

/**
 * Card footer
 */
card-footer() {
    padding-block: $card.footer-padding-block;
    padding-inline: $card.footer-padding-inline;

    &:empty {
        display: none;
    }

    .has-border-color > &:not(:first-child) {
        border-block-start: inherit;
    }
}

/**
 * Card body
 */
card-body() {
    flex: 1 1 auto;
    padding-block: $card.padding-block;
    padding-inline: $card.padding-inline;

    &:empty {
        display: none;
    }
}
