/**
 * Caret borders
 *
 * @param ident $direction
 */
caret-borders($direction, $width = $caret.width) {
    border-block-start: $width solid if $direction == down;
    border-block-start: $width solid transparent if $direction == left || $direction == right;
    border-inline-end: $width solid if $direction == left;
    border-inline-end: $width solid transparent if $direction == up || $direction == down;
    border-block-end: $width solid if $direction == up;
    border-block-end: $width solid transparent if $direction == left || $direction == right;
    border-inline-start: $width solid if $direction == right;
    border-inline-start: $width solid transparent if $direction == up || $direction == down;
}

/**
 * Caret
 *
 * @param ident $direction
 */
caret($direction = down, $width = $caret.width) {
    $selector = ($direction == left) ? "before" : "after";

    &::{$selector} {
        caret-borders($direction, $width);
        content: "";
        display: inline-block;
        block-size: 0;
        inline-size: 0;
        margin-inline-start: $width * 1.5 if $direction != left;
        margin-inline-end: $width * 1.5 if $direction == left;
        vertical-align: $width * .85;
    }

    &:empty::{$selector} {
        margin-inline: 0;
    }
}
