/**
 * Use color
 *
 * Uses capital `RGBA` to prevent Stylus builtin `rgba` function
 * from being used as it doesn't support CSS custom properties.
 *
 * `$rest` can be used to set `!important`
 *
 * @param color $color
 * @param literal $rest...
 */
has-color($color, $rest...) {
    --color: $color;
    --color-rgb: to-rgb($color);
    --hover-color: hover-color($color);
    --active-color: active-color($color);
    --outline-color: RGBA(var(--color-rgb), var(--outline-opacity, .25));
    color: var(--color) $rest;
}

/**
 * Use background color
 *
 * Uses capital `RGBA` to prevent Stylus builtin `rgba` function
 * from being used as it doesn't support CSS custom properties.
 *
 * `$rest` can be used to set `!important`
 *
 * @param color $color
 * @param literal $rest...
 */
has-background-color($color, $rest...) {
    --color: color-contrast($color);
    --color-contrast: color-contrast($color, $reverse: true);
    --background-color-rgb: to-rgb($color);
    --background-color: RGBA(var(--background-color-rgb), var(--background-opacity, 1));
    --hover-background-color: hover-background-color($color);
    --active-background-color: active-background-color($color);
    --outline-color: RGBA(var(--background-color-rgb), var(--outline-opacity, .25));
    color: var(--color);
    background-color: var(--background-color) $rest;
}

/**
 * Use border color
 *
 * `$rest` can be used to set `!important`
 *
 * @param color $color
 * @param literal $rest...
 */
has-border-color($color, $rest...) {
    --border-color: $color;
    border-color: var(--border-color) $rest;
}

/**
 * Color contrast
 *
 * @param color $color
 * @return color
 */
color-contrast($color, $reverse = false) {
    $r = red($color);
    $g = green($color);
    $b = blue($color);
    $result = (($r * 299) + ($g * 587) + ($b * 114)) / 1000;
    $contrast = $result >= $color-contrast.threshold;
    $contrast = !$contrast if $reverse;

    return $contrast ? $color-contrast.dark : $color-contrast.light;
}

/**
 * Convert to rgb
 *
 * @param color $color
 * @return literal
 */
to-rgb($color) {
    return unquote(join(", ", red($color) green($color) blue($color)));
}

/**
 * Hover color
 *
 * @param color $color
 * @return color
 */
hover-color($color) {
    return darken($color, 15%);
}

/**
 * Active color
 *
 * @param color $color
 * @return color
 */
active-color($color) {
    return darken($color, 25%);
}

/**
 * Hover background color
 *
 * @param color $color
 * @return color
 */
hover-background-color($color) {
    return darken($color, 10%);
}

/**
 * Active background color
 *
 * @param color $color
 * @return color
 */
active-background-color($color) {
    return darken($color, 15%);
}

/**
 * Interactive elements
 */
interactive-elements() {
    a,
    summary,
    button,
    input,
    select,
    textarea,
    [tabindex]:where(:not([tabindex^="-"])) {
        {block}
    }
}

/**
 * Interactive colors
 *
 * `$rest` can be used to set `!important`
 *
 * @param literal $rest...
 */
interactive-colors($rest...) {
    &:hover,
    &:focus,
    &.focus {
        --color: var(--hover-color) $rest;
    }

    &:active,
    &.active {
        --color: var(--active-color) $rest;
    }
}

/**
 * Interactive background colors
 *
 * `$rest` can be used to set `!important`
 *
 * @param literal $rest...
 */
interactive-background-colors($rest...) {
    &:hover,
    &:focus,
    &.focus {
        --background-color: var(--hover-background-color) $rest;
    }

    &:active,
    &.active {
        --background-color: var(--active-background-color) $rest;
    }
}
