/**
 * Container
 *
 * @param unit $max-inline-size
 * @param unit $padding
 */
container($max-inline-size, $padding = $spacing["30"]) {
    inline-size: 100%;
    max-inline-size: $max-inline-size;
    margin-inline: auto;
    padding-inline: $padding if $padding;
}

/**
 * Clear fix
 */
clearfix() {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}
