/**
 * Dropdown container
 *
 * Core styles for a dropdown
 */
dropdown-container() {
    padding-block: $dropdown.padding-block;
    padding-inline: 0;
    font-size: $font-sizes.medium;
    color: $colors.default;
    text-align: start;
    list-style: none;
    border: $dropdown.border-width solid $dropdown.border-color;
    border-radius: $dropdown.border-radius if $enable.rounded;
    background-color: $dropdown.background-color;
    background-clip: padding-box;
    box-shadow: $dropdown.shadow;
}

/**
 * Dropdown menu
 *
 * Positional styles for dropdown
 */
dropdown-menu() {
    dropdown-container();
    display: none;
    position: absolute;
    z-index: 10;
    inset-block-start: 100%;
    inset-inline-start: 0;
    min-inline-size: $dropdown.min-width;
    margin-block: $dropdown.spacer 0;
    margin-inline: 0;
}

/**
 * Dropdown item
 */
dropdown-item() {
    display: block;
    inline-size: 100%;
    padding-block: $dropdown.item-padding-block;
    padding-inline: $dropdown.item-padding-inline;
    clear: both;
    font-weight: 400;
    color: $dropdown.link-color;
    text-align: inherit;
    white-space: nowrap;
    border: 0;
    background-color: transparent;

    &:hover,
    &:focus,
    &.focus {
        color: $dropdown.link-hover-color;
        text-decoration: none;
        background-color: $dropdown.link-hover-background-color;
    }

    &:active,
    &.active {
        color: $dropdown.link-active-color;
        text-decoration: none;
        background-color: $dropdown.link-active-background-color;
    }

    &:disabled,
    &.disabled {
        color: $dropdown.link-disabled-color;
        background-color: transparent;
    }
}
