/**
 * Label
 */
form-label() {
    margin-block-end: $spacing["30"];
    font-size: $font-sizes.medium;
    font-weight: 700;
}

/**
 * Form control
 */
form-control() {
    -webkit-appearance: none;
    min-inline-size: 0;
    max-inline-size: 100%;
    padding-block: $input.padding-block;
    padding-inline: $input.padding-inline;
    font-size: $input.font-size;
    line-height: $input.line-height;
    color: $input.color;
    outline-offset: 0;
    border: $input.border-width solid $input.border-color;
    border-radius: $enable.rounded ? $input.border-radius : 0;
    background-color: $input.background-color;
    background-clip: padding-box;
    transition: .15s ease-in-out;
    transition-property: border-color, outline-width;

    &::placeholder {
        color: $input.placeholder-color;
        opacity: 1;
    }

    &:disabled {
        user-select: none;
        opacity: 1;
        color: $input.disabled-color;
        background-color: $input.disabled-background-color;
    }

    &:focus {
        color: $input.focus-color;
        border-color: $input.focus-border-color;
        background-color: $input.focus-background-color;
        outline-width: $focus.width;
    }

    &:not(:focus):invalid {
        box-shadow: none;
    }
}

/**
 * File upload
 */
form-control-file() {
    font-size: $font-sizes.small;

    &::file-selector-button {
        button();
        has-background-color($colors.secondary);
        margin-inline-end: $spacing["30"];
        font-size: $font-sizes.small;
    }

    &:hover:not([disabled]):not([readonly])::file-selector-button {
        background-color: hover-background-color($colors.secondary);
    }
}

/**
 * Select form control
 */
form-control-select() {
    &:not([size]):not([multiple]) {
        appearance: none;
        padding-inline-end: CALC($input.padding-inline \+ $input.indicator-padding);
        vertical-align: middle;
        background-position: right $input.indicator-padding center;
        background-size: $input.indicator-size;
        background-repeat: no-repeat;
        background-image: $input.indicator;

        &:focus::-ms-value {
            color: $input.color;
            background-color: $input.background-color;
        }

        &::-ms-expand {
            opacity: 0;
        }
    }
}
