/**
 * Dreamy shadows
 *
 * @param unit $layers
 * @param color $color
 */
dreamy-shadow($layers = 5, $color = rgba(black, .07)) {
    $shadow = "";

    for $i in 2..($layers + 1) {
        $value = 2 ** ($i - 1);
        $shadow += ", " if $shadow;
        $shadow += em(0 $value ($value * 2)) $color;
    }

    return unquote($shadow);
}
