/**
 * Escape characters for SVG data URI
 *
 * @see https://codepen.io/kevinweber/pen/dXWoRw
 *
 * @param mixed $string
 * @return string
 */
escape-svg($string) {
    $string = replace($find, $replace, "" + $string) for $find, $replace in $escape-characters;
    return $string;
}

/**
 * Return URL with color fill
 *
 * @param string $url
 * @param color $color
 * @return string
 */
svg-fill($url, $color) {
    return s("url(%s?fill=%s)", unquote($url), unquote(escape-svg($color)));
}
