/**
 * Convert units to rem units
 *
 * @param list $values
 * @return list
 */
rem($values) {
    return convert-relative-units($values, "rem", 16);
}

/**
 * Convert units to em units
 *
 * @param list $values
 * @param unit $base
 * @return list
 */
em($values, $base = 16) {
    return convert-relative-units($values, "em", $base);
}

/**
 * Convert units to relative units
 *
 * @param list $values
 * @param string $unit
 * @param unit $base
 * @return list
 */
convert-relative-units($values, $unit, $base) {
    $units = ();

    for $value in $values {
        $value = unit(round($value / $base, 4), $unit) if $value is a "unit" && $value != 0;
        push($units, $value);
    }

    return $units;
}

/**
 * Truncate text with ellipsis
 */
truncate-text() {
    display: inline-block unless @display;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/**
 * Clamp lines
 *
 * @param int $n
 */
clamp-lines($n = 2) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $n;
    overflow: hidden;
}

/**
 * Stretch link
 */
stretched-link() {
    &::after {
        content: "";
        position: absolute;
        z-index: 1;
        inset: 0;
    }
}
